<div class="b-callback">
    <span class="phone" >+375 (17) 500-10-30</span>
    <p>Получить консультацию</p>
    <form action="http://www.cdls.by/corporate/ip-camera/mail.php" method="post" name="ContactForm">
        <label for="tel">Ваш телефон:</label><input id="tel" type="tel" name="tel" required />
        <label for="email">E-mail:</label><input id="email" type="email" name="email" required />
        <label for="question">Задать вопрос, или заказать звонок:</label><textarea id="question" name="body"></textarea>
        <input class="send" type="submit" name="submit" value="Отправить" />
        <div class="clear"></div>
    </form>
</div>
<div class="clear"></div>