<section class="b-company">
    <img src="img/manager.png" />
    <span class="name">Ольга Абрутис</span>
    <p>На протяжении многих лет мы успешно занимаемся дистрибуцией цифровой технки на терирорию РБ. И сегодня готовы предложить вам качественный продукт от компании Canon, а также весь спектр сопуствующих услуг:</p>
    <ul>
        <li>грамотный консультант подберет модель исходя из ваших потребностей</li>
        <li>доставим товар в кратчайшие сроки</li>
        <li>возможна консультация с выездом специалиста, а так же монтаж и установка оборудования</li>
        <li>предоставим выгодные условия гарантийного обслуживания в течении 3-х лет</li>
    </ul>    
</section>