<section class="b-model">
    <h2>Высококачественные сетевые видеокамеры стандартного разрешения, HD и Full-HD</h2>
    <p>В модельном ряду камер видеонаблюдения Canon представлен широкий выбор конструктивных решений, углов обзора и форматов сжатия видео. Это означает, что вы всегда сможете выбрать оптимальную камеру для своих задач. <a href="Canon ip camera.pdf" target="blank" >Скачать каталог моделей PDF</a></p>
    
    <div id="slider-wrap">
        <div id="slider">
            <div class="slide">
                <img src="img/VB-H610VE.jpg" />
                <div class="slide-text">
                    <h3>Canon VB-H610VE</h3>
                    <p>Наружная (антивандальная) сетевая камера для использования в системе безопасности абсолютно любого офиса. Угол обзора 112° — это идеальный вариант для круглосуточного наружного наблюдения. В ней предусмотрена возможность установки модуля обогрева, что обеспечит бесперебойную работу даже в -30°. Запись видео в формате Full HD со скоростью 30 кадров/с, с 3-х кратным оптическим и 4-х кратным цифровым зумом. Модуль электронного заднего фокуса (встроенный), обеспечит высокий уровень безопасности.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->

            <div class="slide">
                <img src="img/VB-H41.jpg" />
                <div class="slide-text">
                    <h3>Canon VB-H41</h3>
                    <p>Самая востребованная видеокамера в своем классе. Ее абсолютным преимуществом является потрясающий 20-ти кратный оптический зум, и многофункциональность: камеру можно использовать как внутри, так и снаружи помещения. VB-H41 обладает всеми самыми необходимыми функциями: зум, быстрый автофокус, панорамирование, наклон. Видео передается в качестве Full HD. Прекрасно подойдет для использования на объектах любой сложности, она наделена множеством интеллектуальных функций, которые позволят обеспечить высочайший уровень безопасности. Доступна в 2-х цветах: черная и серая.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->

            <div class="slide">
                <img src="img/VB-S900F.jpg" />
                <div class="slide-text">
                    <h3>Canon VB-S900F</h3>
                    <p>Эта идеальный вариант для системы видеонаблюдения. Благодаря продуманному  дизайну камеру можно легко вписать в любой интерьер. Canon VB-S900F - это эффективная камера сетевого типа, которая  записывает видео в формате Full HD, с  разрешением 1920х1080 и скоростью до 30 кадров в секунду. Объектив у Canon VB-S900D обладает 4-х кратным зумом.  С помощью данной камеры вы сможете легко различать как движущиеся, так и статичные объекты, а так же,  благодаря широкому функционалу  обнаруживать пропавшие предметы и попытки повреждения камеры.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->

            <div class="slide">
                <img src="img/VB-S800D.jpg" />
                <div class="slide-text">
                    <h3>Canon VB-S800D</h3>
                    <p>Камера Canon VB-S800D это отличный вариант для безопасности вашего офиса. Благодаря своим многочисленным преимуществам, можно сказать, что она просто незаменима, Canon VB-S800D обладает  высокой скоростью записи видео (30 кадров в секунду) в формате Full HD и разрешением 1920х1080, при этом угол обзора у Canon VB-S800D равен 95°. Специальный датчик CMOS обеспечит вас прекрасной цветопередачей и гарантированно четким изображением.</p>
                </div><!-- /slider-text -->
            </div><!-- /slide -->
        </div><!-- /slider -->
    </div><!-- /slider-wrap -->
</section>