<footer>
    <div class="contacts">
        <h4>контакты</h4>
        <ul>
            <li>www: <a href="http://www.cdls.by/">cdls.by</a></li>
            <li>skype: <a class="skype" href="skype:cdl.salek4?add">cdl.salek4</a></li>
            <li>e-mail: <a href="mailto:k.standart@cdls.by?subject=Вопрос по ip камерам">k.standart@cdls.by</a></li>
        </ul>
        <ul>
            <li>+375 17 500-10-30</li>
            <li>+375 29 325-25-58</li>
            <li>+375 44 776-04-30</li>
        </ul>
    </div>
    <div class="clear"></div>
</footer>