<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ip камеры</title>
    <!--build:css css/main.min.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
    <!--build:js js/main.min.js -->
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/hwslider.js"></script>
    <!-- endbuild -->
    <!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <div class="container">
      <img class="camera" src="img/top-camera.png" alt="">
       <div class="content">
        //= include/header.html
        //= include/b-callback.html
        //= include/b-company.html
        //= include/b-video.html
        //= include/b-partners.html
        //= include/b-model.html
        </div>
        //= include/footer.html
    </div>
</body>
</html>